@model ISA.Models.AddVM.AddPostViewModel
@{
}
<hi>Добавление Запчасти</hi>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Наименование</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
