@model ISA.Models.UpdateVM.UpdateStaffVM

@{
}
<hi>Редаетирование Сотрудника</hi>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Фамилия</label>
        <input type="text" class="form-control" asp-for="Surname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Имя</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Отчество</label>
        <input type="text" class="form-control" asp-for="Patronymic">
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Cars">Удалить</button>
</form>