<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISA.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ISA</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a button type="button" class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Заказ-наряды
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Index">Существующие заказ-наряды</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Orders" asp-action="Add">Добавить заказ-наряд</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a button type="button" class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Клиенты
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Index">Существующие клиенты</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Add">Добавить клиента</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a button type="button" class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Автомобили
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Cars" asp-action="Index">Существующие авто</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Cars" asp-action="Add">Добавить авто</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a button type="button" class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Сотрудники и должности
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Staffs" asp-action="Index">Существующие сотрудники</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Staffs" asp-action="Add">Добавить сотрудника</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Index">Существующие должности</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Posts" asp-action="Add">Добавить должность</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Index">Существующие услуги</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Add">Добавить услгу</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a button type="button" class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Склады и запчасти
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Storages" asp-action="Index">Существующие склады</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Storages" asp-action="Add">Добавить склад</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Spares" asp-action="Index">Существующие запчасти</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Spares" asp-action="Add">Добавить запчасть</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ISA - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
